.page-slide-home {	
	.homeSlide1{
		width: 100%;
		height: 100%;
	  	background: url(../assets/img/homeSlide.png); 
		background-size: cover; 
		background-attachment:  fixed;
		background-position: center;
	}
	
	.homeSlide2{
		width: 100%;
		height: 100%;
		background: url(../assets/img/homeSlide.png) ; 
		background-size: cover; 
		background-position: center;
	}

	.homeSlide3{
		width: 100%;
		height: 100%;
		background: url(../assets/img/homeSlide.png) ; 
		background-size: cover; 
		background-position: center;
	}

	.homeSlide4{
		width: 100%;
		height: 100%;
		background: url(../assets/img/homeSlide.png) ; 
		background-size: cover; 
		background-position: center;
	}

	.homeSlide5{
		width: 100%;
		height: 100%;
		background: url(../assets/img/homeSlide.png) ; 
		background-size: cover; 
		background-position: center;
	}
	.titulo{
		margin: 5%;
		font-weight: bolder;
		color: #387ef5;
		font-size: 1.8em;
	}

	.subtitulo{
		margin: 5%;
		font-size: 1.1em;
		color: #919191;
	}

	.botao{
		font-size: 1em;
	}

	
	.logo{
		width: 40%;
		height: 40%;
	}
}
/*
.toolbar-background {
		    background: #fff;
		    border-color: transparent;
	  	}

		.slide-zoom {
		    height: 100%;
		}

	  	.slide-title {
	    	margin-top: 2.8rem;
	  	}

	  	.slide-image {
		    max-height: 50%;
		    max-width: 60%;
		    margin: 18px 0;
	  	}

	  	b {
	    	font-weight: 500;
	  	}

	  	p {
		    padding: 0 40px;
		    font-size: 14px;
		    line-height: 1.5;
		    color: #60646B;

		    b {
		      color: #000000;
		    }
	  	}

	  	.imagem{
	  		width: 100%;
	  		background: url(../assets/img/homeSlide1.png) no-repeat center center fixed; 
			background-size: cover; 
			margin-top: -1%;
	  	}

	  	.imagem1{
	  		width: 100%;
	  		background: url(../assets/img/homeSlide3.png) no-repeat center center fixed; 
			background-size: cover; 
			margin-top: -1%;
	  	}

	  	.botao{
	  		float: right;
		}
*/